@page 
@model HWRestaurant.Web.Pages.Restaurants.NotFoundModel
@{
    ViewData["Title"] = "NotFound";
}

    <h2> -- This restaurant Id was Not Found</h2>
<a asp-page="./List" class="btn btn-outline-primary">See All</a>
